<ul class="sidebar-module">
  <li> <%= link_to 'Tags', tags_path %></li>
  <li> <%= link_to 'About', '#' %> </li>
  <li><%= link_to 'FAQ', '#' %> </li>
  <li><%= link_to 'Contact', '#' %> </li>
  <li><%= link_to 'Links', '#' %> </li>
</ul>

<ul class='sidebar-module'>
  <li><b>Most Popular</b></li>
  <% @popular = Article.order('view_count DESC').limit(5) %>
  <% @popular.each do |article| %>
  <li>
    <%=link_to article.title, article_path(article)%>
  </li>
   <% end %>
</ul>