<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="flash"><%= flash.notice %></p>


<div class="container">
<a href='/' class="blog-header">
  <h1 class="blog-title">My Practice Blog</h1>
  <p class="blog-description">Building a website with Ruby on Rails</p>
</a>

<div class="row">
  <div class="col-sm-8 blog-main">    
     <%= yield %>
  </div>
  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <%= render 'layouts/sidebar' %>
  </div>
</div>

<footer>
<hr>
<h6>
  <% if logged_in? %>
    <%= "Logged in as #{current_user.email}" %>
    <%= link_to "(logout)", logout_path %>
  <% else %>
    <%= link_to "(login)",login_path %>
  <% end %>
</h6>
</footer>




</div>




</body>
</html>
