<h1><%= @article.title %></h1>

<div>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
  <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url %>
  <% end %>
</p>

<p><%= @article.body %></p>

<h4>Comments (<%= @article.comments.size %>)</h4>
<%= render partial: 'articles/comment',collection:@article.comments %>

<%= render partial: 'comments/form' %>

<%= link_to "<<Back to Article List", articles_path %>

<% if logged_in? %>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<%= link_to "edit", edit_article_path(@article) %>
<% end %>

</div>

