<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<%= link_to "<<Back to Article List", articles_path %>

<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<%= link_to "edit", edit_article_path(@article) %>



